<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serverURL</key>
	<string>http://rover-staging.herokuapp.com/mobileapi/v1/</string>
	<key>beaconUUIDs</key>
	<array>
		<string>84F3A8E6-FB2D-4A4F-9C36-A1BCFAA93EEA</string>
	</array>
	<key>applicationID</key>
	<string>b2e6c3d6c17b7f82c4086e9d63f0a257fcd7da7cebf50f4e78627f61809520bc</string>
</dict>
</plist>
